@import "../sources/basicStyling.css";

.pageMainContent {
    display: grid;
    grid-template-columns: 30% 1fr;
    background-color: black;
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.pageSideBanner {
    order: 1;
    width: 100%;
    background-color: black;
    display: flex;

}


.pageSideBanner>img {
    overflow: hidden;
    object-fit: cover;
}

.articleFullText {
    margin: 1rem 1rem 6rem 1rem;
    order: 2;
    text-align: justify;

}


.goBackLink {

    position: fixed;
    font-size: 1rem;
    border-radius: 40%;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    padding: 1rem 2rem 1rem 2rem;
    right: 2rem;
    bottom: 2rem;
    border: solid white 1px;
    text-decoration: none;
    background-color: var(--btnBkColor);
    color: var(--btnTextColor);
}


.reference {
    margin: 1rem 0rem;
}




p {
    margin-bottom: 1rem;
}

h1 {
    margin-top: 2rem;
}

h3 {
    font-weight: 300;
}

.attachedImgSection {
    margin: 1rem;

}

.imgSource {
    margin-top: -0.2rem;
    font-size: 0.8em;
}

.readMoreLink {
    white-space: nowrap;
}

/*各連結來源的LOGO  */
.youtubeLogo {
    border: solid red;
    width: 80px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    object-fit: contain;
    margin: 0rem 1rem 1rem 1rem;
}

.wikiLogo {
    width: 80px;
    object-fit: contain;
    margin: 0rem 1rem 1rem 1rem;
}

.bbcLogo {
    width: 80px;
    object-fit: contain;
    margin: 0rem 1rem 1rem 1rem;
}

.voxLogo {
    width: 80px;
    background: white;
    object-fit: cover;
    padding: 10px;
    margin: 0rem 1rem 1rem 1rem;
}

.astrobiologyLogo {
    width: 80px;
    object-fit: cover;
    padding: 10px;
    margin: 0rem 1rem 1rem 1rem;
}

.linkIcon {
    background-color: grey;
    width: 80px;
    object-fit: cover;
    padding: 20px;
    margin: 0rem 1rem 1rem 1rem;
    border-radius: 30%;

}


.refBook img {
    height: 30vh;
    object-fit: cover;
}

@media screen and (max-width: 600px) {

    .pageMainContent {
        grid-template-columns: 10% 1fr;
    }

    .refContent {
        display: flex;
        padding: 1rem 2rem 0rem 1rem;
        margin: 1rem 0.5rem;
        align-items: flex-start;
        background-color: rgb(40, 40, 40);
        border-radius: 1rem;
    }

    .refContent img {
        display: none;
    }

    .refBook {
        margin: 1rem;
        display: block;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: grey;
    }
}

@media screen and (min-width: 601px) and (max-width:800px) {

    .pageMainContent {
        grid-template-columns: 20% 1fr;
    }

    .articleFullText {
        width: 70%;
    }

    .refContent {
        display: flex;
        flex-direction: row;
        padding: 1rem 2rem 0rem 1rem;
        margin: 1rem 0.5rem;
        align-items: flex-start;
        background-color: rgb(40, 40, 40);
        border-radius: 1rem;
    }

    .refBook {
        margin: 1rem;
        display: flex;
        gap: 1rem;

        padding: 1rem;
        background-color: grey;
        border-radius: 0.5rem;

    }
}

@media screen and (min-width: 801px) {

    .pageMainContent {
        grid-template-columns: 30% 1fr;
    }

    .articleFullText {
        width: 60%;
    }

    .refContent {
        display: flex;
        flex-direction: row;
        padding: 1rem 2rem 0rem 1rem;
        margin: 1rem 0.5rem;
        align-items: flex-start;
        background-color: rgb(40, 40, 40);
        border-radius: 1rem;
    }

    .refBook {
        margin: 1rem;
        display: flex;
        gap: 1rem;

        padding: 1rem;
        background-color: grey;
        border-radius: 0.5rem;
    }
}