.backgroundHandsContactImg {
    background-image: url(../img/handsContact.png);
    width: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30%;
}