.sideBannerAreciboMessage {
    filter: opacity(40%) grayscale(50%)
}

.pioneerMessageImg,
.goldenRecordImg {
    width: 100%;
    object-fit: cover;
}

.areciboMessageImgsSet {
    display: flex;
    margin: 2rem 1rem 0.5rem 1rem;
    justify-content: left;
    gap: 0.5rem;

}

.areciboMessageOriginal,
.areciboMessageAliens {
    width: 40%;
    margin-bottom: 0.5rem;
}