.headerBanner>h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 120%;
}

.lineBreak {
    display: block;
    background-color: white;
    width: 100%;
    height: 1px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.mainArticles {
    display: block;
    padding-top: 1px;
}


.box {
    margin: 2rem 1rem 2rem 1rem;

}

.promotionTitle {
    margin: 0rem 1rem 0rem 1rem;
    text-align: center;
    padding: 0.5rem;
    background-color: grey;
    border-radius: 1rem;

}

.promoTitle {
    text-align: center;
    padding: 1rem 0rem 0rem 0rem;
    font-size: 1.2rem;
}

img.promoBookCover {
    width: 70%;
    display: block;
    margin: 0 auto;
}



.bookDescription {
    display: none;
}

/* 圖檔隱藏(for mediumScreen only */
.theBeginningMainBanner {
    display: none;
}

.messageInABottleMainBanner {
    display: none;
}

.kardashevScaleMainBanner {
    display: none;
}

.fingerprintsOfTheGodsMainBanner {
    display: none;
}

.andThenMainBanner {
    display: none;
}

/* 活動區 */
.promoTitle {
    margin: 1rem 1rem 0 rem 1rem;

}

.bookset {
    margin: 1rem;
}

.promoBookCover {
    display: block;
    width: 70%;
}

/* 圖檔隱藏(for largeScreenOnly) */

.theBeginning02Banner {
    display: none;
}

.theBeginning03Banner {
    display: none;
}

.messageInABottle02Banner {
    display: none;
}

.messageInABottle03Banner {
    display: none;
}

.kardashevScaleLargeScreenMainBanner {
    display: none;
}

.fingerprintsOfTheGods02Img {
    display: none;
}

.fingerprintsOfTheGods03Img {
    display: none;
}

.fingerprintsOfTheGods04Img {
    display: none;
}

/*  */

.promo01Book02 {
    display: none;
}

.promo02Book02 {
    display: none;
}

.promo03Book02 {
    display: none;
}

.promo04Book02 {
    display: none;
}

.promo05Book02 {
    display: none;
}